[Unit]
Description=WireGuard client timeout detector.
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/wireguard_auto_reconnect.sh

[Install]
WantedBy=network-online.target
